
*{
    padding: 5;
    
}
.cimg{
    height: 500px;
}
.ima{
    width: 18rem;
    height: 150rem;
}
#kovalam{
    height: 25rem;
}
#dam{
    height: 25rem;
    
}
#Meesapulimala{
    height: 25rem;
}

#mattan{
    height: 25rem;
}
#Bol{
    height: 25rem;
}
#pal1{
    height: 25rem; 
}
#paramp{
    height: 25rem; 
    
}
#eda{
    height: 25rem; 
    
}
#lak{
    height: 25rem; 
}